@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #191919;
  --accent: #333333 !important;
  --border: #333333 !important;
}

@theme inline {
  --color-desktop-bg: var(--desktop-bg);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-border: var(--border);
}

@layer base {

  /* ✅ Set global default border color */
  * {
    @apply border-[var(--border)];
  }
}